$primary-color: #c8014e;

$font-size: 50px;
$responsive-font-size: 0.7vw;

* {
  // font-size: $responsive-font-size;
}

:root {
  font-size: calc(0.5vw + 1vh + .5vmin);
}

.navbar{
  border-bottom: 0.5px solid #d1d1d1;
  background-color: #FFF!important;
  padding: 1rem 2.5rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.center-item{
  margin-bottom: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.data-viz-block{
  margin: 25px auto;
}

.data-viz {
  padding: 20px;
  margin: 6px 3.5px;
  background: white;
  border-bottom-color: rgb(209, 209, 209);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  border-radius: 5px;

  .statistics{
    color:white;

    .text-muted {
      color: #ffffffb3 !important;
    }

    .additional-value {
      color: #ffffff4d;
      font-size: 34px;
    }
  }

  

  table {
    font-size: $responsive-font-size;
  }

  div{
    text-align: center;
  }

  .far, .fas {
    font-size: 35px;
  }

  .stat{
    font-size: 30px;
  }
}

.body-content{
  padding: 0 25px;
}

.basic-multi-select {
  height: 100%;
  .select__control {
    height: 100%;
  }
}

.text-small {
  font-size: 0.8rem;
}

xsmall{
  font-size: 70%;
}


