$font-size: 50px;

.dataViz {
  background: red;
  padding: 20px;
  margin: 6px 3px;
  background: white;
  border-bottom-color: rgb(209, 209, 209);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}
