$primary-color: #da276b8d;
$text-color: #333;

$font-size: 50px;
$responsive-font-size: 1rem;

$navbar-height: 3vw;

@mixin large-smartphone{
  @media(min-width: 730px) and (max-width: 1100px){
    @content;
  }
}

@mixin smartphone{
  @media(max-width: 800px){
    @content;
  }
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  color: $text-color;
}

h1{
  font-size: 2.5rem;
}

h5{
  font-size: 2rem;
  @include smartphone(){
    font-size: 1rem;
  }
  &.reduce{
    font-size: 1.5rem;
    @include smartphone(){
      font-size: 0.95rem;
    }
  }
}

h6{
  font-size: 1rem;
}

.navbar{
  // border-top: 2px #D50B55 solid;
  // border-bottom: 0.5px solid #d1d1d1;
  // box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  // box-shadow: 0px 8px 25px -12px rgba(0, 0, 0, 0.2);
  // height: $navbar-height;
  background-color: #FFF!important;
  padding: 0 2.5rem;
  border-bottom: 1.5px solid #e7e7e7;
  @include smartphone(){
    padding: 0.5rem 0.75rem;
  }
  
  &-nav{
    height: 100%;
    flex-direction: row;
    @include smartphone(){
      margin-top: 10px;
    }
  }

  &-logo{
    height: 30px;
    margin-right: 10px;
  }

  .nav-item{
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    min-width: 6vw;
    margin: 0 auto;
    text-align: center;
    @include smartphone(){
      min-width: 0;
    }
    &.active{
      background-color: #F5F5F5;
      @include smartphone(){
        background: #FFF;
      }
    }
    &:hover{
      background-color: #F5F5F5;
      @include smartphone(){
        background: #FFF;
      }
    }
    a {
      height: 100%;
      position: relative;
      display: block;
      padding: 16px 0;
      transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $primary-color;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s,transform 0.2s ease-out;
      }

      &.active {
        text-decoration: none;
        color:$primary-color !important;
        &::before{
          background-color: $primary-color;
          // transform-origin: left top;
          // transform: scale(1, 1);
        }
      }
      &:hover::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
    }   
  }

  .nav-link{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 0.7rem;
  }

  .translate{
    @include smartphone(){
      width: 100%;
    }
    @include large-smartphone(){
      width: initial;
    }
  }
}

.center-item {
  margin-bottom: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include smartphone(){
    transform: translateY(50%);
  }
}

.stats{
  margin: 0 -9px;
}

.anchor{
  padding-top: 3em;
}

.data-viz {
  // border-bottom-color: rgb(209, 209, 209);
  // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  // box-shadow: 0px 4px 10px 0.1px rgba(0, 0, 0, 0.07);
  padding: 8px;
  margin: 12px;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaedf3;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.04);

  &-statistics{
    color:white !important;
    padding: 20px;
    margin: 8px 8px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.04);

    @include smartphone(){
      padding: 10px 20px;
    }

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
      color: white;
    }

    .far, .fas {
      font-size: 2rem;
      @include smartphone(){
        font-size: 1rem;
      }
    }

    .text-muted {
      color: #ffffffb3 !important;
    }

    .additional-value {
      color: #ffffff4d;
      font-size: 2.5rem;
      left: 4.5rem;
      position: absolute;
      @include smartphone(){
        font-size: 1.5rem;
        left: 3.5rem;
      }
      

      &-image{
        position: absolute;
        top: 20px;
        left: 5vw;
        img{
          width: 5vw;
          opacity: 0.5;
        }
      }
    }
  }

  nav {
    margin-top: -50px;
    margin-bottom: 15px;
    justify-content: flex-end !important;

    .nav-link, .nav-pills {
      font-size: 0.9rem;
      padding: 2.5px 5px;
      margin: 2px;
      background-color: #F5F5F5;
      border: solid 1px #F2F2F2;
      color: rgb(156, 156, 156);
      transition: 0.45s;

      &:hover{
        background: #b6b6b6;
        color: #FFF;
        
      }

      &.active{
        background-color: #F5F5F5;
        color: $primary-color;
        border: solid 1px #F2F2F2;
      }
    }
  }

  .title{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content{
    padding: 10px 15px;
  }

  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0;
  }

  .info-control {
      display: inline-block;
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 1000;
      padding: 6px 8px;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
  
    h4 {
      margin: 0 0 5px;
      color: #777;
      font-size: 1rem;
      text-align: left;
    }
  }

  table {
    font-size: 0.7vw;
  }

  div{
    text-align: center;
  }

  .stat{
    font-size: 30px;
  }
  .download{
    font-size: 1.25vw;
    color: #35353538;
  }
}

.body-content{
  padding: 70px 40px 0px 40px;
  
  @include smartphone(){
    padding: 70px 0px 0px 0px;
  }

  .title-content{
    *{
      display: inline-block;
      &:not(:first-child){
        margin: 0 4px;
      }
      &:first-child{
        margin-right: 4px;
      }
    }

    .badge-secondary{
      &:focus{
        box-shadow: none;
      }
    }
  }
}

.basic-multi-select {
  height: 100%;
  .select__control {
    height: 100%;
  }
}

.text-small {
  font-size: 0.9rem;
  @include smartphone(){
    font-size: 0.75rem;
  }
}

xsmall{
  font-size: 70%;
}

.btn{
  &-filter{
    margin-top: 10px;
    @include smartphone(){
      padding: 8px 5px;
      line-height: 0;
    }
  }

  &.btn-sm{
    @include smartphone(){
      font-size: 0.7rem;
    }
  }
}

.horizontal-bar{
  max-width: 35vw;
  min-height: 30vh;
  @include large-smartphone(){
    max-width: 100vw;
    max-height: 20vh;
  }
}

.going-chart{
  height: 40vh;
  @include smartphone(){
    height: 50vh;
  }
}

.month-chart{
  height: 40vh;
  @include large-smartphone(){
    height: 50vh;
  }
}

.doughnut-chart{
  @include large-smartphone(){
    height: 50vh;
  }
}

.options-menu{
  margin-bottom: 5px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  border-radius: 4px;
  top: 5px;
}

#nprogress {
  .bar {
    background: #C50054;
    color: #C50054;
  }
  .peg{
    // box-shadow: 0 0 10px #C50054, 0 0 5px #C50054
    box-shadow: none;
  }
}